.navbar {
    padding: 1rem;
}

.nav-text {
    font-family: 'Microsoft YaHei UI';
    font-size: x-large;
}

.li-text {
    color: #484848;
    font-family: 'Microsoft YaHei UI';
    font-size: medium;
}

.clear-padding {
    padding-left: 0;
    padding-right: 0;
}

.current-price {
    font-size: 22px;
    color: #007bff;
    margin-right: 6px;
    letter-spacing: -0.8px;
    cursor: pointer;
}

.price-symbol {
    font-size: 14px;
    color: #007bff;
    font-weight: 500;
}

.suggest-current-price {
    font-size: 22px;
    color: #f2c545;
    margin-right: 6px;
    letter-spacing: -0.8px;
    cursor: pointer;
}

.suggest-price-symbol {
    font-size: 14px;
    color: #f2c545;
    font-weight: 500;
}

.cheap-current-price {
    font-size: 22px;
    color: #fc4242;
    margin-right: 6px;
    letter-spacing: -0.8px;
    cursor: pointer;
}

.cheap-price-symbol {
    font-size: 14px;
    color: #fc4242;
    font-weight: 500;
}

.star_list_style {
    list-style-type: none;
    display: inline;
}

.pingjia {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}

.cheap-text {
    font-size: 12px;
    color: #999;
    margin-left: 0;
}

.store_name {
    font-size: 16px;
    margin-bottom: 0;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
}

.store-address {
    font-size: 12px;
    color: #999999;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
    line-height: 32px;
}

.card:hover {
    background-color: #F4F4F4;
}

.store-img {
    border-radius: 5px;
    width: 354px;
    height: 200px;
}

.cheap-img {
    border-radius: 5px;
    width: 204px;
    height: 120px;
}

.footer-title {
    overflow-wrap: break-word !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 1.28571em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0 !important;
}

.footer-list {
    list-style: none;
    padding-left: 0;
    margin-top: 16px;
}

.footer-li > a {
    text-decoration: none;
    font-size: 14px;
    color: #767676;
}

.scroll-text{
    position: absolute;
    z-index: 1;
    margin-left: 13.2%;
    margin-top: 15%
}

.scroll-text>h1{
    font-weight: bold;
    color: white;
}

.scroll-text>h2{
    color: white;
}
